<nav class="navbar">
  <div class="logo">
    <span class="logo-text">Expense Manager</span>
  </div>
  <!-- <button class="login-btn" [routerLink]="['/login']">Login</button> -->
   <div class = "button-container">
    <button class="login-btn" (click) = "handleLogin()"  >Login</button>
    <button class = login-btn (click)= "handleAddTrip()"> Add trip</button>
    <button class="login-btn" (click)="handleAddExpense()"> Add Expense</button>
    <button class="login-btn" (click)="handleViewExpenses()">My Expenses</button>
    <button class="login-btn" (click) = "handleViewTrips()"> My Trips</button>
    <button class="login-btn" (click)= "logoutHandler()">Logout</button>
   </div>
</nav>
