<div class="login-container">
  <div class="close-button" (click)="close()">×</div>
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
      <div *ngIf="usernameError" class="error">Username is required</div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
      <div *ngIf="passwordError" class="error">Password is required</div>
    </div>
    <button type="submit">Login</button>
  </form>
  <div *ngIf="message" class="message">{{ message }}</div>
  <div class="signup-link">
    <a (click)="navigateToSignup()">Don't have an Account? Signup</a>
  </div>

</div>
